:root {
    --primary-color: #007bff;
    --primary-hover-color: #0056b3;
    --background-gradient: linear-gradient(135deg, #007bff, #0056b3);
    --background-color: #fff;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --text-color: #333;
    --label-color: #555;
    --input-border-color: #ddd;
    --input-background-color: inherit;
    --button-disabled-color: #ccc;
    --button-text-color: #fff;
    --register-text-color: #555;
    --register-link-color: #007bff;
    --error-color: #ff4d4f;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background-gradient);
}

.formContainer {
    background: var(--background-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    font-family: 'League Spartan', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputGroup {
    margin-bottom: 1rem;
    text-align: left;
}

.inputGroup label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--label-color);
}

.inputGroup input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--input-background-color);
}

.loginButton {
    width: 100%;
    padding: 0.75rem;
    background-color:  #38bff0;
    border: none;
    border-radius: 4px;
    color:#ffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginButton:hover {
    background-color: var(--primary-hover-color);
}

.loginButton:disabled {
    background-color: var(--button-disabled-color);
    cursor: not-allowed;
}

.registerText {
    margin-top: 2rem;
    color: var(--register-text-color);
}

.registerLink {
    color:  #38bff0;
    text-decoration: none;
}

.registerLink:hover {
    text-decoration: underline;
}

.error {
    color: var(--error-color);
    margin-bottom: 0.5rem;
}
